<%= link_to "Latest time entries", time_entries_path %> |
<%= link_to "Create time entries", new_time_entry_path %>

<% if flash[:notice].present? %>
  <hr>

  <h3>Entries added:</h3>
  <% flash[:notice].each do |msg| -%>
    <%= content_tag :div, msg %>
  <% end -%>
<% end -%>
